<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deathmatch.name %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @deathmatch.modality %>
</p>

<p>
  <strong>Competitors:</strong>
  <%= @deathmatch.competitors %>
</p>

<p>
  <strong>Type competitors:</strong>
  <%= @deathmatch.type_competitors %>
</p>

<%= link_to 'Edit', edit_deathmatch_path(@deathmatch) %> |
<%= link_to 'Back', deathmatches_path %>
